@font-face {
    font-family: Syne;
    src: url(../font/syrine_typo_de_base/otf/Syne-Regular.otf);
}

@font-face {
    font-family: Doppelganger;
    src: url(../font/gros_titres_doppelganger/Doppelganger_Display.otf);}

body {background: #EEEBE7 !important;}


/* _______________________________________blocintro_____________________________________________________________________________ */
.blocintro{
    padding-top: 8%;
    padding-left: 10%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.9fr 1.1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "text text images_1"
    "lelogo lelogo lelogo"
    "contactp1 contactp2 ImageDR"
    "contactenbas contactenbas contactenbas";
}

.text { grid-area: text; }

.images_1 { grid-area: images_1; }

.lelogo { grid-area: lelogo; }

.contactp1 { grid-area: contactp1; }

.contactp2 { grid-area: contactp2; }

.ImageDR { grid-area: ImageDR; }

.contactenbas { grid-area: contactenbas; }


.textintro{
    color: #3B3939;
    font-family: Syne;
    font-size: 45px;
}
.greytxt{
  color: #000000;
  font-size: 45px;
}
.imagetop{
    margin-left: 25%;
}
.lelogo{margin-left: 45%; margin-top: -20%}


.contacttttt{
    font-size: 520px;
    font-family: Doppelganger;
    margin-top: -800px;
}

.titlecontact{
    text-decoration: underline;
    font-size: 60px;
    font-family: Syne;
}
.blablapluss {
    font-size: 27px;
    font-family: Syne;
}
.contactp1{margin-top: -480px;}
.contactp2{margin-top: -390px;}
.ImageDR{margin-top: -400px;}
/* _______________________________________le logo_____________________________________________________________________________ */
