* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(32, 32, 32, 1);
    color: #fff;
}

/* _______________________projet_________________________*/
#projet {
    padding-top: 12%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
}

.textside {
    margin-right: 10%;
}

.imgside {
    margin-top: 4%;
}

h1 {
    font-size: 54px;
}

p {
    margin-top: 7%;
    font-size: 20px;
}

.lemail {
    background-color: #15C585;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    width: 180px;
    height: 35px;
    font-size: 15px;
    margin-top: 10%;
    margin-left: 0%;
}

.lemail:hover {
    background-color: #fff;
    color: #15C585;
}

.mail {
    margin-left: 10%;
    padding-top: 3%;
}

.sausse {
    text-decoration: none;
    color: #fff;
}

.sausse:hover {
    text-decoration: none;
    color: #15C585;
}

.iconmail {
    padding-right: 5%;
    width: 15%;
}

.imgprojet {
    width: 100%;
}

/* _______________________projet_Responsive_Mobil________________________*/
@media (max-width:767px) {
    #projet {
        padding-top: 30%;
        text-align: center;
    }

    .imgside {
        margin-top: 8%;
    }

    .lemail {
        background-color: #15C585;
        border-radius: 6px;
        width: 150px;
        height: 32px;
        font-size: 13px;
        margin-top: 5%;
        margin-left: 32%;
    }

    .iconmail {
        width: 12%;
    }

    .mail {
        margin-left: 10%;
        padding-top: 4.5%;
    }
}