@font-face {
    font-family: Syne;
    src: url(../font/syrine_typo_de_base/otf/Syne-Regular.otf);
}

@font-face {
    font-family: Doppelganger;
    src: url(../font/gros_titres_doppelganger/Doppelganger_Display.otf);
}





body {background: #EEEBE7;}

body {
    margin: 0;
    font-family: "Syne";
}

a {
    color: #FFFFFF;
    font-family: "Syne";
    font-size: 22px;
}


/* _______________________________________body_____________________________________________________________________________ */

.firsttitle {
    color: #3B3939;
    font-size: 80px;
    font-family: Doppelganger;
    text-align: center;
    padding-top: 160px;
}
.ccc {
    position: absolute;
    margin-top: 0px;}

.traitg {
    width: 267px;
    height: 0px;
    border: 2px solid #707070;
    opacity: 1;
    margin-left: 25%;
}

.prez {
    margin-top: 50px;
    font-family: "Syne";
}
.prezL {
    font-family: "Syne";
    margin-left: 120px;
    font-size: 20px;
    color: #151515;
}
.prezR {
    font-family: "Syne";
    margin-left: 135px;
    font-size: 17px;
    color: #626060;
}
.grid-container {
    margin-top: 8%;
    margin-left: 13.5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "zone-1 Zone-4 . ."
    "Zone-2 Zone-4 . ."
    "Zone-3 Zone-4 . .";
}
.zone-1 { grid-area: zone-1;}
.Zone-2 { grid-area: Zone-2; }
.Zone-3 { grid-area: Zone-3; }
.Zone-4 { grid-area: Zone-4;}

.leftimage {
    width: 289px;
    height: 446px;
}
.rightimage {
    padding-left: 52px;
    width: 706px;
    height: 783px;}

.jmay {
    color: #4B4A4A;
    font-size: 17px;
}
.colec {
    color: #4B4A4A;
    font-size: 12px;
}



@media (min-width: 48em) {
    .firsttitle {
        font-size: 355px;
        padding-top: 90px;
    }
    .ccc {
        position: absolute;
        margin-top: 0px;
    }
    .grid-container {
        margin-left: 23%;
    }
    .traitg {
        width: 734px;
        height: 0px;
        border: 2px solid #707070;
        opacity: 1;
        margin-left: 30%;
    }
    .prez {
        margin-top: 80px;
        font-family: "Syne";
    }
    .prezL {
        font-family: "Syne";
        margin-left: 120px;
        font-size: 30px;
        color: #151515;
    }
    .prezR {
        font-family: "Syne";
        margin-left: 320px;
        font-size: 22px;
        color: #626060;
    }
    .jmay {
        color: #4B4A4A;
        font-size: 40px;
    }
    .colec {
        color: #4B4A4A;
        font-size: 30px;
    }


}





